<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Follow the Drinking Gourd</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/1619.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-gl172_VhSfcNzJ0PnVtY3NSWsSaFgnc&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        function initMap() {
            start();
        }
    </script>
</head>
<body>
    <div id="map" class="map-view"></div>
</body>
</html>
